<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 header">
        <h1>
          <i class="fa fa-quote-left"></i>
          <span class="text-uppercase">Quotes</span>
          <i class="fa fa-quote-right"></i>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container [@quote]='theQuote' ">
    <!-- <div class="row">
    <div class="col-md-6">
      <li *ngFor='let kwot of quotes' class="kwot-display">{{ kwot.quote }}</li>
    </div>
  </div> -->
    <div class="row form-quote">
      <div class="col-md-6">
        <app-quote-form (sendQuote)="receiveQuote($event)"></app-quote-form>
      </div>
      <div class="col-md-6">
        <div *ngFor="let kwot of theQuotes; let i = index">
          <h3 appHighlight *ngIf="kwot.votes === count && kwot.votes>0"> {{ kwot.theQuote }} </h3>
          <h3 id="{{i}}"> {{ kwot.theQuote }} </h3>
          <h4 id={{i}}>-{{ kwot.author }}</h4>
          <small id={{i}}>{{ kwot.person }}</small>
          <p id="{{i}}">~Submitted {{ kwot.timeCreated | timeCount }} days ago~</p>
          <button>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            <span style="font-size: 1.5em; color: deeppink;" (click)="adding(i)">UpVote</span>
          </button>
          <button>
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            <span style="font-size: 1.5em; color: deepskyblue;" (click)="removing(i)">DownVote</span>
          </button>
          <app-quote-details [quote]='kwot' (isComplete)='deleteQuote($event,i)'></app-quote-details>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <!-- <div class="footer"> -->
    <div class="footer-text">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://github.com/Sarah-Marion" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/sarah_ndeti" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="footer-text"> -->
    <p>&#169; 2018 Created By Sarah Marion</p>
    <!-- </div> -->
  </div>
</div>
