.content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("assets/background.jpg");
    background-size: cover;
    /* background-position: center; */
    padding-bottom: 23rem;
    padding-top: 21rem;
    display: grid;
    /* grid-auto-columns: 50% auto; */
    color: white;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.col {
    padding: -4em 1.3em;
}
.text-uppercase {
  font-size: 30px;
}
.col-md-6{
  padding-bottom: 5rem
}
i {
  margin-bottom: 5px;
}
p{
  margin: 0;
}
.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.footer {
  background-color: black;
  padding: 1em 0em em 0em;
  text-align: center;
  color: white;
  /* position: relative; */
  /* bottom: 0; */
  max-height: 25vh;
  /* margin-top: 5rem; */
}
/*
.footer p,
.footer-text ul {
    padding-top: 1rem;
    margin: 0;
}  */

.list-inline-item a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-quote{
  padding-top: 3rem;
}
.col-md-12{
  padding-left: 0;
  padding-right: 0;
}
