<div class="form-entry">
  <h2>Input A Quote</h2>
  <hr>
  <div class="container">
    <div class="row">
      <form (ngSubmit)='getQuotes(quotesForm)' #quotesForm='ngForm'>
        <div class="form-group">
          <label for="theQuote">QUOTE:</label>
          <textarea name="theQuote" placeholder="Enter your quote here" class="form-control" required [(ngModel)]='newQuote.theQuote' #theQuote='ngModel'></textarea>
        </div>
        <div class="form-group">
          <label for="author">AUTHOR :</label>
          <input type="text" name="author" placeholder="Author of quote" class="form-control" [(ngModel)]='newQuote.author' #author='ngModel'>
        </div>
        <div class="form-group">
          <label for="person">PERSON SUBMITTING THIS QUOTE :</label>
          <input type="text" name="person" placeholder="What is your Name? " class="form-control" [(ngModel)]='newQuote.person' #person='ngModel'>
        </div>

        <div class="form-group">
          <label for="timeCreated"><span style="color: darkbrown">Date</span></label>
          <input type="date" class="form-control" id="timeCreated" [(ngModel)]="newQuote.timeCreated" name="timeCreated" #timeCreated="ngModel" required>


          <div [hidden]="timeCreated.valid || timeCreated.pristine" class="alert alert-danger">
          </div>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
